<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com/"></script>

</head>

<body class="text-[#54595f]">
    <header class="pt-4 header pb-4 fixed w-full bg-white z-10">
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-4 items-center">
                <div class="logo">
                    <a href="#"><img class="w-6/12" src="./images/logo.svg"></a>
                </div>
                <div class="navbar">
                    <ul class="justify-between flex">
                        <li><a class=" z-20 relative hover: after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-1/4 after:bg-[#ff6f89] after:rounded-full after:z-0"
                                href="#">Home</a></li>
                        <li><a class=" " href="#">About Us</a></li>
                        <li><a class=" " href="#">Our Team</a></li>
                        <li><a class=" " href="#">Workout</a></li>
                        <li><a class=" " href="#">Pricing Plan</a></li>
                    </ul>
                </div>


                <div class="flex justify-end">
                    <div class="call_icon">
                        <svg style="width:35px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path class="fill-[#ff6f89]"
                                d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z" />
                        </svg>
                    </div>
                    <div class="call_text pl-3">
                        <a class="text-black  font-bold hover:text-red-400 text-lg " href="#">+1800-200-6835</a>
                        <a class="block text-slate-400 tracking-wide" href="#">MAKE A CALL</a>
                    </div>

                </div>


            </div>
        </div>
    </header>

    <section class="banner_slider">
        <div class="inner_banner" id="banner_slider">

            <div>
                <div class="sliders_slide">
                    <div class="h-screen bg-cover bg-center" style="background-image: url(./images/banner-1.jpg);">
                        <div class="slide_caption">
                            <div class="">
                                <h1
                                    class="span3 wow bounceInRight leading-tight text-5xl text-white font-black uppercase mb-3  tracking-wide max-w-screen-md">
                                    increase your <span>muscle power </span> with
                                    boosted</h1>

                                <div class="banner_btn">
                                    <a class="pt-3.5 uppercase z-20 relative mt-3 rounded-md text-base pb-3.5 px-5 inline-block text-white bg-[#ff6f89] after:content-[''] after:absolute after:transition-all after:bg-[#54595f] after:bottom-0 after:left-0 after:h-full after:w-full after:w-0 after:scale-0"
                                        href="#">join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="sliders_slide">
                    <div class="h-screen bg-cover bg-center" style="background-image: url(./images/banner-3.jpg);">
                        <div class="slide_caption">
                            <div class="    ">
                                <h1
                                    class="span3 wow bounceInRight leading-tight text-5xl text-white font-black uppercase mb-3  tracking-wide max-w-screen-md">
                                    For fitness <span>body and Better Mind </span> the
                                    best gym center</h1>

                                <div class="banner_btn">
                                    <a class="pt-3.5 uppercase z-20 relative mt-3 rounded-md text-base pb-3.5 px-5 inline-block text-white bg-[#ff6f89] after:content-[''] after:absolute after:transition-all after:bg-[#54595f] after:bottom-0 after:left-0 after:h-full after:w-full after:w-0 after:scale-0"
                                        href="#">join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-12 pb-12 bg-neutral-800	">
        <div class="container mx-auto">
            <h3 class="text-center text-4xl text-white font-bold">MOVE RIGHT . THINK BETTER . EAT SMART</h3>
        </div>
    </section>

    <section class="about_us pt-16 pb-16">
        <div class="container mx-auto">
            <div class="grid grid-cols-2 gap-4 ">
                <div class="read_text">
                    <span class="text-[#ff6f89] font-bold mb-3 block">READ ABOUT US</span>
                    <h3 class="text-4xl mb-3 leading-tight font-bold">OUR PERSONAL TRAINERS MAKE A DIFFERENCE</h3>
                    <p class="leading-normal mb-2">Learn from the top professionals in the industry. You will receive
                        world-class advice on what techniques actually work when it comes to diet and exercise. Hidden
                        articles written by world class coaches and exclusive videos produced by world class athletes
                        will teach you the ins-and-outs of fitness.</p>
                    <p class="leading-normal">
                        Our Smart™ experiences and smarter training protocols will provide the complete environmental
                        challenges and progression to stimulate the nervous system and the individual towards physical,
                        mental and emotional change.</p>
                    <a class="pt-3.5 z-20 relative mt-3 rounded-md text-base pb-3.5 px-5 inline-block text-white bg-[#ff6f89] after:content-[''] after:absolute after:transition-all after:bg-[#54595f] after:bottom-0 after:left-0 after:h-full after:w-full after:w-0 after:scale-0"
                        href="#">CONTACT US</a>
                </div>
                <div class="read_img">
                    <img class="rounded-full" src="images/about.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="habbits pt-16 pb-16 bg-[#eee]">
        <div class="container mx-auto">
            <div class="main_head">
                <h3 class="text-5xl text-center font-bold">CHANGE YOUR HABITS FOR BETTER</h3>
                <p class="mx-auto mt-3 text-base text-center w-6/12">It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at its layout.</p>
            </div>

            <div class="grid grid-cols-3 gap-4 mt-10">
                <div class="habbits_col text-center pl-5 pr-5">
                    <div class="relative inline-block">
                        <span
                            class="bg-[#ff6f89] text-white rounded-full w-7 h-7 leading-7 absolute top-0 right-5 inline-block ">1</span>
                        <img class="rounded-full mx-auto mb-3" src="images/1.jpg">
                    </div>
                    <h3 class="text-2xl tracking-wide font-bold uppercase mb-3">movement</h3>
                    <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="habbits_col text-center pl-5 pr-5">
                    <div class="relative inline-block">
                        <span
                            class="bg-[#ff6f89] text-white rounded-full w-7 h-7 leading-7 absolute top-0 right-5 inline-block ">2</span>
                        <img class="rounded-full mx-auto mb-3" src="images/2 (2).jpg">
                    </div>
                    <h3 class="text-2xl tracking-wide font-bold uppercase mb-3">PRACTISE</h3>
                    <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="habbits_col text-center pl-5 pr-5">
                    <div class="relative inline-block">
                        <span
                            class="bg-[#ff6f89] text-white rounded-full w-7 h-7 leading-7 absolute top-0 right-5 inline-block ">3</span>
                        <img class="rounded-full mx-auto mb-3" src="images/3.jpg">
                    </div>
                    <h3 class="text-2xl tracking-wide font-bold uppercase mb-3">WEIGHT LOSS</h3>
                    <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>






            </div>

        </div>
    </section>

    <section class="our_sevices">
        <div class="flex flex-wrap mainrow_Service">
            <div class="basis-1/4 w-3/12">
                <div class="service_text span3 ">
                    <div class="service_icon">
                    </div>
                    <span class="text-white text-xs uppercase mb-3">explore the future</span>
                    <h3 class="text-white text-2xl uppercase mb-3 font-bold">Functional Workouts </h3>
                    <p class="text-white mb-2">Trademarked training experiences delivering the best in results &
                        community</p>
                </div>
            </div>
            <div class="basis-1/4 w-3/12">
                <div class="service_gym_img relative span3 ">
                    <div class="service_slider">
                        <div>
                            <div class="slider_img">
                                <img src="images/service.jpg">
                            </div>
                        </div>
                        <div>
                            <div class="slider_img">
                                <img src="images/service.jpg">
                            </div>
                        </div>
                    </div>
                    <span class="service_counter">
                        01
                    </span>
                </div>
            </div>
            <div class="basis-1/4 w-3/12">
                <div class="service_text span3 ">
                    <div class="service_icon">
                    </div>
                    <span class="text-white text-xs uppercase mb-3">Body Shape</span>
                    <h3 class="text-white text-2xl uppercase mb-3 font-bold">Body & Mind</h3>
                    <p class="text-white mb-2">Build better body composition, stronger connections and a healthy mindset
                    </p>
                </div>
            </div>
            <div class="basis-1/4 w-3/12">
                <div class="service_gym_img relative span3 ">
                    <div class="service_slider">
                        <div>
                            <div class="slider_img">
                                <img src="images/13.jpg">
                            </div>
                        </div>
                        <div>
                            <div class="slider_img">
                                <img src="images/13.jpg">
                            </div>
                        </div>
                    </div>
                    <span class="service_counter">
                        02
                    </span>
                </div>
            </div>
            <div class="basis-1/4 w-3/12">
                <div class="service_gym_img relative span3 ">
                    <div class="service_slider">
                        <div>
                            <div class="slider_img">
                                <img src="images/4.jpg">
                            </div>
                        </div>
                        <div>
                            <div class="slider_img">
                                <img src="images/4.jpg">
                            </div>
                        </div>
                    </div>
                    <span class="service_counter">
                        03
                    </span>
                </div>
            </div>
            <div class="basis-1/4 w-3/12">
                <div class="service_text span3 ">
                    <div class="service_icon">
                    </div>
                    <span class="text-white text-xs uppercase mb-3">RELAX PROGRAM</span>
                    <h3 class="text-white text-2xl uppercase mb-3 font-bold">Smarter Lifestyles</h3>
                    <p class="text-white mb-2">Enhance your lifestyle with better coaching, guidance and smarter
                        routines</p>
                </div>
            </div>
            <div class="basis-1/4 w-3/12">
                <div class="service_gym_img relative span3 ">
                    <div class="service_slider">
                        <div>
                            <div class="slider_img">
                                <img src="images/2.jpg">
                            </div>
                        </div>
                        <div>
                            <div class="slider_img">
                                <img src="images/2.jpg">
                            </div>
                        </div>
                    </div>
                    <span class="service_counter">
                        04
                    </span>
                </div>
            </div>
            <div class="basis-1/4 w-3/12">
                <div class="service_text span3 ">
                    <div class="service_icon">
                    </div>
                    <span class="text-white text-xs uppercase mb-3">explore the future</span>
                    <h3 class="text-white text-2xl uppercase mb-3 font-bold">Backed By Science</h3>
                    <p class="text-white mb-2">A full body experience with a strong focus on scientific principles &
                        methods</p>
                </div>
            </div>
        </div>
    </section>
    <section class="our_trainer pt-16 pb-16 ">
        <div class="container mx-auto">
            <div class="main_head">
                <h3 class="text-5xl text-center font-bold">TEAM OF EXPERT COACHES
                </h3>
                <p class="mx-auto mt-3 text-base text-center w-6/12">Our coaching team are highly regarded Master
                    Functional Trainers (MFT) and have obtained certification, in our specialities, at a high level. Our
                    dynamic team is continually engaging in further</p>
            </div>

            <div class="grid grid-cols-3 gap-4 mt-10">
                <div class="fitness">
                    <div class="fitness_image relative  overflow-hidden">
                        <img src="images/trainer.jpg" class="grayscale">

                        <div class="trainer_social absolute bottom-10 left-2">
                            <ul>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    </a></li>

                            </ul>
                        </div>
                    </div>



                    <div class="trainer_info w-9/12 mx-auto rounded pt-5 pb-5 bg-[#fff] relative -top-7  shadow-lg shadow-white-500/40 text-center">
                        <h3 class="text-xl font-bold mb-2 capitalize">Robert husk</h3>
                        <span class="text-[#ff6f89] capitalize">fitness trainer</span>
                     </div>

                </div>

                <div class="fitness">
                    <div class="fitness_image relative  overflow-hidden">
                        <img src="images/train3.jpg" class="grayscale">

                        <div class="trainer_social absolute bottom-10 left-2">
                            <ul>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    </a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="trainer_info w-9/12 mx-auto rounded pt-5 pb-5 bg-[#fff] relative -top-7  shadow-lg shadow-white-500/40 text-center">
                        <h3 class="text-xl font-bold mb-2 capitalize">Robert husk</h3>
                        <span class="text-[#ff6f89] capitalize">fitness trainer</span>
                     </div>
                </div>
                <div class="fitness">
                    <div class="fitness_image relative  overflow-hidden">
                        <img src="images/train5.jpg" class="grayscale">

                        <div class="trainer_social absolute bottom-10 left-2">
                            <ul>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a></li>
                                <li><a class="bg-[#ff6f89] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"
                                        href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    </a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="trainer_info w-9/12 mx-auto rounded pt-5 pb-5 bg-[#fff] relative -top-7  shadow-lg shadow-white-500/40 text-center">
                        <h3 class="text-xl font-bold mb-2 capitalize">Robert husk</h3>
                        <span class="text-[#ff6f89] capitalize">fitness trainer</span>
                     </div>
                </div>
            </div>

        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="css/slick.js"></script>
    <script src="css/custom.js"></script>
</body>

</html>