<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
   <header class="pt-4 pb-4 fixed w-full bg-white z-10">
<div class="container mx-auto">
    <div class="grid grid-cols-3 gap-4 items-center">
<div class="logo">
<a href="#"><img class="w-6/12" src="./images/logo.svg"></a>
</div>
<div class="navbar">
<ul class="justify-between flex">
<li><a class=" py-2  hover:text-red-400" href="#">Home</a></li>
<li><a class=" py-2  hover:text-red-400"  href="#">About Us</a></li>
<li><a class=" py-2  hover:text-red-400"  href="#">Our Team</a></li>
<li><a class=" py-2  hover:text-red-400"  href="#">Workout</a></li>
<li><a class=" py-2  hover:text-red-400"  href="#">Pricing Plan</a></li>
</ul>
</div>


<div class="flex justify-end">
<div class="call_icon">
    <svg style="width:35px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path class="fill-[#ff0000]"d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg>
</div>
<div class="call_text pl-3">
<a class="text-black  font-bold hover:text-red-400 text-lg " href="#">+1800-200-6835</a>
<a class="block text-slate-400 tracking-wide" href="#">MAKE A CALL</a>
</div>

</div>


</div>
</div>
   </header>
   <section class="bg-[url('../images/banner-3.jpg')] h-screen bg-center bg-cover" >
<div class="container">
<div class="banner">

</div>
</div>
   </section>
   <section class="pt-12 pb-12 bg-neutral-800	">
<div class="container mx-auto">
<h3 class="text-center text-4xl text-white font-bold">MOVE RIGHT . THINK BETTER . EAT SMART</h3>
</div>
   </section>

<section class="habbits pt-16 pb-16 bg-[#eee]">
<div class="container mx-auto">
<div class="main_head">
<h3 class="text-5xl text-center font-bold">CHANGE YOUR HABITS FOR BETTER</h3>
<p class="mx-auto mt-3 text-base text-center w-6/12">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
</div>

<div class="grid grid-cols-3 gap-4 mt-10">
<div class="habbits_col text-center pl-5 pr-5">
    <div class="relative inline-block">
        <span class="bg-[#ff0000] text-white rounded-full w-7 h-7 leading-7 absolute top-0 right-5 inline-block ">1</span>
    <img  class="rounded-full mx-auto mb-3" src="images/1.jpg">
</div>
    <h3 class="text-2xl tracking-wide font-bold uppercase mb-3">movement</h3>
    <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
</div>
<div class="habbits_col text-center pl-5 pr-5">
    <div class="relative inline-block">
        <span class="bg-[#ff0000] text-white rounded-full w-7 h-7 leading-7 absolute top-0 right-5 inline-block ">2</span>
    <img  class="rounded-full mx-auto mb-3" src="images/2.jpg">
</div>
    <h3 class="text-2xl tracking-wide font-bold uppercase mb-3">PRACTISE</h3>
    <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
</div>
<div class="habbits_col text-center pl-5 pr-5">
    <div class="relative inline-block">
        <span class="bg-[#ff0000] text-white rounded-full w-7 h-7 leading-7 absolute top-0 right-5 inline-block ">3</span>
    <img  class="rounded-full mx-auto mb-3" src="images/3.jpg">
</div>
    <h3 class="text-2xl tracking-wide font-bold uppercase mb-3">WEIGHT LOSS</h3>
    <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
</div>






</div>

</div>
</section>


<section class="our_trainer pt-16 pb-16 ">
    <div class="container mx-auto">
    <div class="main_head">
        <h3 class="text-5xl text-center font-bold">TEAM OF EXPERT COACHES
        </h3>
        <p class="mx-auto mt-3 text-base text-center w-6/12">Our coaching team are highly regarded Master Functional Trainers (MFT) and have obtained certification, in our specialities, at a high level. Our dynamic team is continually engaging in further</p>
        </div>

<div class="grid grid-cols-3 gap-4 mt-10">
<div class="fitness">
<div class="fitness_image relative">
<img src="images/trainer.jpg">
<span class="absolute top-4 right-2 uppercase">fitness trainer</span>
<div class="trainer_social absolute bottom-4 left-2">
<ul>
    <li><a class="bg-[#ff0000] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"  href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
    </a></li>
    <li><a class="bg-[#ff0000] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"  href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
    </a></li>
    <li><a class="bg-[#ff0000] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"  href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
    </a></li>
    <li><a class="bg-[#ff0000] hover:bg-zinc-900 text-white w-10 h-10 inline-block text-center leading-10"  href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>
    </a></li>

</ul>
</div>
</div>
</div>

</div>

    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="css/slick.js"></script>
<script src="css/custom.js"></script>
</body>
</html>